<h1 style = "text-align:center; font-size: 80px">Movies</h1>

<ul>
  <% @movies.each do |movies| %>
	<li>
		<%= link_to movies.name, movies %>
	</li>
  <% end %>
</ul>

<%= link_to "New Movie", new_movie_path %>
