<h1>Screens</h1>

<ul>
  <% @screens.each do |screen| %>
    <li>
      <a href="screens/<%= screen.id %>">
      <p>Screen ID: <%= screen.id %></p>
      <p>Total Seat Capacity: <%= screen.no_of_seats %></p>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', url_for(:back) %>