<h1>Total Seats: <%= @screens.no_of_seats %></h1>
<p> Screen ID: <%= @screens.id %></p>

<%= link_to 'Back ||', url_for(:back) %>

<%= link_to "Select Slots", location_cinema_screen_slots_url(@screens.id,@screens,@screens.id) %>


