<h1>Bookings</h1>

<ul>
  <% @bookings.each do |bookings| %>
    <li>
      <a href="bookings/<%=bookings.id  %>">
      <%= bookings.user.name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back ||', url_for(:back) %>

<%= link_to "Create New Booking", new_user_booking_path %>

