<h1>Cinemas</h1>

<ul>
  <% @cinemas.each do |cinema| %>
    <li>
      <a href="cinemas/<%= cinema.id %>">
      <p>Cinema ID: <%= cinema.id %></p>
      <p>Cinema Name: <%= cinema.name %></p>
    </li>
  <% end %>
</ul>


