<h1>Locations</h1>

<ul>
  <% @locations.each do |location| %>
    <li>
      <p>Location ID : <%= location.id %></p>
      <p>City : <%= link_to location.city, location %></p>

    </li>
  <% end %>
</ul>

<%= link_to 'Back', url_for(:back) %>

